body{
    margin: 0%;
    overflow-x: hidden;
}
/* intro section */
#intro-section{
    background-image:linear-gradient(to bottom, rgba(1, 3, 12, 0.135), 
    rgba(11, 0, 11, 0.187)), url(images/donation13.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 95vh;
    display: flex;
}
#intro{
    width: 40%;
    text-align: center;
    margin: auto;
}
.intro__heading{
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    color: white;
}
.intro__description{
    color: white;
    font-size: 9px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button{
    padding: 7px;
    font-size: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    background-color: #FF5959;
    border-radius: 3px;
}
/* donation section */
#donate-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#donation__intro{
    width: 50%;
    margin: 40px 40px 0px 40px;
}
.section__heading{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin: 0;
}
.section__description{
    font-family: 'Poppins', sans-serif;
    color:#707070;
    font-size: 9px;
}
#donate__box{
    display: flex;
}
.donate__box--amount{
    margin: 10px;
    width: 80px;
    height: 70px;
    background-color:  #FAFAFA;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#707070 ;
    font-family: 'Inter', sans-serif;
}
.donate__box--visual__amount{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid #FF5959;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input__donation{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.input__amount{
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 5px;
    margin: 22px 0px;
    color:#B3B3B3;
    font-size: 10px;
}
/* plan section */
#plan-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#plan__intro{
    width: 50%;
    margin: 60px 40px 0px 40px;
}
#plan__box{
    display: flex;
    margin-top: 10px;
}
.plan__card{
    width: 190px;
    height: 160px;
    text-align: left;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    background-color:rgba(79, 157, 166, 0.1);
}
.second__plan__card{
    background-color:  rgba(255, 89, 89, 0.1);;
}
.third__plan__card{
   background-color: #FFF4D6;
}
.card__img{
    width: 35px;
    margin-bottom: 3px;
}
.card__heading{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.card__description{
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    color: 
    #707070;
}
/* contribution section */
#contribute-section{
    margin: 40px;
}
.contribute__box{
    display: flex;
}
.text__section{
    width: 50%;
    padding: 30px 20px 30px 70px;
}
.second__text__section{
    padding: 30px 20px 30px 40px;
}
.contribute__heading{
    font-family: 'Inter', sans-serif;
}
.contribute__description{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    margin: 20px 0px;
    color:#707070;
}
.img__section{
    width: 50%;
    padding: 30px;
}
.contribute__img{
    width: 380px;
    border-radius: 4px;
}
/* donators section */
#people-section{
    margin: 50px;
}
#people__donation{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.people__heading{
    text-align: center;
}
.person{
    width: 25%;
    height: 10%;
    display: flex;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img__sec{
    width: 30%;
    padding: 5px;
}
.text__sec{
    padding: 8px;
}
.person__img{
    width: 90%;
}
.person__name{
    margin: 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.person__amount{
    margin: 0;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin-bottom: 3px;
}
.date{
    margin: 0;
    font-size: 9px;
    font-family: 'Inter', sans-serif;
    color:  #B3B3B3;
}
/* statistics section */
.stats__box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.served__box{
    width: 45%;
    padding: 20px;
    color: white;
    border-top: 9px solid #008080;
    background-color: #133337;
}
.volunteer__box{
    width: 35%;
    padding: 20px;
    background-color: #008080;
    color: white;
    border-bottom: 9px solid #133337;
}
.box__title{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.count{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
.box__desc{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}
/* mail section */
#mail-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail__intro{
    width: 50%;
}
.mail__input{
    padding: 50px;
    background-color:#FFF4D6;
    height: 200px;
}
.input__field{
    height: 25px;
    margin: 0;
    font-size: 9px;
    color: #AA9F9F;
    background-color:#D9D9D9;
    border: none;
    width: 200px;
    padding: 0px 10px;
    border-radius: 3px;
}
.option{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}
.name__field{
    width: 95px ;
    margin-bottom:8px;
}
.registration__field{
    margin: 0px 0px 
    10px 0px;
    width: 214px;
}
/* footer-section */
footer{
    width: 100vw;
    height: 80px;
    background-color: black;
    margin-top: 60px;
    text-align: center;
    padding: 20px 0px 10px 0px;
}
.footer__heading{
    color:  #FF5959;;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 17px;
}
.footer__desc{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-size: 8px;
}